* {
    margin: 0;
    padding: 0;
}

a {
    font-family: Verdana, tahoma, 'Segoe UI', Geneva, sans-serif;
}

/* navbar */
.nav {
    overflow: hidden;
    background-color: none;
    position: fixed;
    width: 100%;
    top: 30px;
    height: 100px;
}

.nav-menu {
    position: absolute;
    top: 25px;
    display: flex;
    width: 100%;
    justify-content: center;
}

.nav-menu a {
    font-size: 18px;
    float: none;
    color: #333;
    padding: 15px;
    text-decoration: none;
    text-align: center;
    margin: 0 20px 0 20px;
}

.nav-menu a:hover {
    transition: 0.2s;
    margin-top: -3px;

}

.nav-logo {
    float: left;
    margin: 15px 10px 10px 50px;
}

.nav-logo img {
    width: 150px;
}

/* navigation menu */
.menu {
    float: right;
    padding: 10px;
    overflow: hidden;
}

.menu-close{
    float: right;
    padding: 10px;
    overflow: hidden;
}

.menu-wrap{
    display: none;
    position: fixed;
    z-index: 1;
    height: 100%;
    width: 100%;
    left: 0;
    top: 0;
    background-color: rgb(234, 255, 102); /* Black fallback color */
    background-color: rgb(234, 255, 102, 0.9); /* Black w/opacity */
    overflow-x: hidden;
    height: 100%;
}

.menu-bar {
    position: relative;
    top: 20%; /* 25% from the top */
    width: 100%; /* 100% width */
    text-align: center; /* Centered text/links */
    margin-top: 85px; /* 30px top margin to avoid conflict with the close button on smaller screens */
    
}

.menu-bar ul {
    list-style: none;
}

.menu-bar a {
    font-size: 30px;
    color: #333333;
    padding: 30px;
    text-decoration: none;
    display: block;
}

.menu-bar a:hover {
    color: #7e7e7e;
}

.show {
    display: block;
}

.hide {
    display: none;
}

/* menu icon (hamburger) */
.container {
    display: inline-block;
    cursor: pointer;
    background-color: transparent;
    width: auto;
    height: auto;
    margin: 25px;
}

.container > .bar1,
.container > .bar2,
.container > .bar3 {
    width: 35px;
    height: 5px;
    background-color: #333;
    margin: 6px 0;
    transition: 0.4s;
}

.change .bar1 {
    transform: translate(0, 11px) rotate(-45deg);
}

.change .bar2 {
    opacity: 0;
}

.change .bar3 {
    transform: translate(0, -11px) rotate(45deg);
}

/* main */
.main {
    margin-top: 10px;
    /* height: 1500px; */
}

/* general text */
.head-big {
    font-size: 30px;
    text-align: center;
    margin: 100px 100px 50px 100px;
    padding-top: 100px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: #333333;
}

.text-desc {
    font-size: 16px;
    text-align: justify;
    margin: 0px 100px 50px 100px;
    font-family: Verdana, tahoma, 'Segoe UI', Geneva, sans-serif;
}

/* content */
.content-long {
    background-color: burlywood;
    width: 100%;
    height: 300px;
}

/* footer */
.footer {
    background-color: #ffffff;
    width: 70%;
    height: 270px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
    margin-bottom: 100px;
    padding: 10px;
    justify-content: center;
    align-items: center;
}

.footer-img {
    background-color: #ffffff;
    width: 200px;
    height: 200px;
    margin-left: auto;
    margin-right: auto;
}

.footer-img img {
    height: 200px;
    margin-left: auto;
    margin-right: auto;
}

.footer-links {
    background-color: #ffffff;
    width: 80%;
    height: 50px;
    text-align: center;
    padding-top: 20px;
    margin-left: auto;
    margin-top: 10px;
    margin-right: auto;
}

.footer-links a {
    font-size: 30px;
    word-spacing: 2px;
    margin: 20px;
    color: #EAFF66;
}

.footer-links a:hover {
    color: #EACC66;

}

/* .footer-logo {
    background-color: #7d70a1;
    width: 20%;
    height: 100px;
} */

@media screen and (max-width: 800px) {
    .nav-menu {
        display: none;
    }
}

@media screen and (min-width: 800px) {
    .menu {
        display: none;
    }
}